<%= form_for(@tile) do |f| %>
  <% if @tile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tile.errors.count, "error") %> prohibited this tile from being saved:</h2>

      <ul>
      <% @tile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :item_code %><br>
    <%= f.text_field :item_code %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :retail_price %><br>
    <%= f.text_field :retail_price %>
  </div>
  <div class="field">
    <%= f.label :resell_price %><br>
    <%= f.text_field :resell_price %>
  </div>
  <div class="field">
    <%= f.label :wholesale_price %><br>
    <%= f.text_field :wholesale_price %>
  </div>
  <div class="field">
    <%= f.label :dealer_price %><br>
    <%= f.text_field :dealer_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
